# Environment
.env
.env.example
! .env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
!dashboard/src/lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Logs
logs/
*.log
local_logs/

# Testing
.pytest_cache/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.benchmarks/
htmlcov/

# IDEs
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/

# OS
.DS_Store
Thumbs.db

# Runtime config (written by UI, never committed)
runtime_config.json

# Project Specific
*.csv
*.pkl
*.json
! **/package.json
! **/package-lock.json
! composer.json
! **/tsconfig.json
! *.ipynb


# Dashboard
dashboard/node_modules/
dashboard/dist/
dashboard/.netlify/
dashboard/.env
!dashboard/src/lib/

